{block description}Jaké je přesné znění tvé oblíbené hlášky z Červeného Trpaslíka?{/block}
{block keywords}dwarfsearch, dwarf, search, Red Dwarf, red, dwarf, Červený Trpaslík, Červený, Trpaslík{/block}
{block content}
<h1 class="page-header h1">DwarfSearch</h1>
