# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:

includes:
	- extensions.neon
	- console.neon
	- webloader.neon
	- components.neon
	- services.neon

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: DwarfSearch\*Module\Presenters\*Presenter

session:
	expiration: 14 days
	autoStart: smart
	savePath: %wwwDir%/../temp/sessions

monolog:
	name: dwarf-search
	handlers:
		- Monolog\Handler\SyslogHandler('dwarf-search', 'local4')

elasticSearch:
	debugger: on

doctrine:
	metadata:
		DwarfSearch: %appDir%/../libs

redis:
	journal: on
	storage: on
	session: on

services:
	router: App\RouterFactory::createRouter
