extensions:
	elasticSearch: Kdyby\ElasticSearch\DI\SearchExtension
	monolog: Kdyby\Monolog\DI\MonologExtension
	events: Kdyby\Events\DI\EventsExtension
	translation: Kdyby\Translation\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	curl: Kdyby\Curl\DI\CurlExtension
	webloader: WebLoader\Nette\Extension
	redis: Kdyby\Redis\DI\RedisExtension
