{block content}
<div class="list-group" id="screenplay" n:inner-foreach="$episode->getScenarios() as $screenplay">
	<a href="#screenplay-line-{$screenplay->getLine()}" id="screenplay-line-{$screenplay->getLine()}" class="list-group-item screenplay-line-link">
		<h3 class="list-group-item-heading">
			{if $screenplay->isIntro()}
				Intro:
			{else}
				{$screenplay->getCharacter()->getName()}
			{/if}
		</h3>

		<p class="list-group-item-text">
			{$screenplay->getText()}
		</p>
	</a>
</div>
