<form n:name="searchForm" class="navbar-form">
	<div class="form-group" style="display:inline;">
		<div class="input-group" style="display:table;">
			<span class="input-group-addon" style="width:1%;">
				<span class="glyphicon glyphicon-search"></span>
			</span>
			<input class="form-control" n:name="search" placeholder="Hledej..." autocomplete="off" autofocus="autofocus">
		</div>
	</div>
</form>
